*{
    margin:0;
    font-family: 'Titillium Web', sans-serif;
}

body{
    background:#eef0f4;
    color:#060707;
}

.title{
    width: 500px;
    color:#050b0e;
    margin:3% auto;

}

.content{
    width: 600px;
    margin: 0 auto;
    padding-left: 6%;
}

.secondTitle{
    text-align:left;
    margin: 2% 0;
    font-weight: 100;
} 

.form{
    padding: 5px;
}

.formLine{
    display: inline-flex;
    padding: 5px 0px;
}

.left{
    float: left;
}

.right{
    float:right;
    margin-right: 100px;
}

input, select{
    width: 130px;
    margin-left: 10px;
}

/* table style */
table{
    width: 100%;
}

thead{
    background-color:#f2f4f8;
    line-height: 30px;
}

/* Button */

button{
    width: 200px;
    color:rgb(11, 5, 5); 
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
    line-height: 20px;
    background-color: #1f7d20;
    border-radius: 5px;
    margin: 14px 25%;
    cursor: pointer;
}

a{
    text-decoration: underline;
    cursor: pointer;
}
#name
{
    margin-left: 30px;
}
#type, #date
{
    margin-left: 40px;
}
#amount
{
    margin-left: 18px;
}
#center
{
    margin-left: 150px;
}
#titleCenter
{
    margin-left: 290px;
}

.lead{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.balance{
    color: blue;
}

.income{
    color: green;
}

.expense{
    color: red;
}